.form-item {
  margin: 0 auto;
  text-align: center;
}

.form-item label {
  display: block;
}

.align-text-center {
  text-align: center;
}
table.content_type_list {
  background: whitesmoke;
  width: 45%;
  margin: 1.5rem auto;
}

table.content_type_list td,
table.content_type_list .table-row,
table.content_type_list th {
  background: whitesmoke;
  border: 1px solid black;
}

table.content_type_list .heading-content-type {
  text-align: left;
}

table.content_type_list .count {
  text-align: center;
}
